body {
    background-color: #22107d;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;   
}

.navbar {
    background-color: #22107d; /* Corrected color */
    display: flex;
    justify-content: right; /* Evenly distribute space between items */
    list-style-type: none; /* Remove bullet points */
    padding: 0;
    margin: 0;
  }
  .logo {
    position: absolute;
    left: 10px;
    top: 10px;
  }
  .logo img {
    height: 60px; /* Adjust height as needed */
    margin: 3px;
  }
.navbar li {
    display: inline-block;
    align-items: center;
    margin: 10px; /* Space between items */
}
  
.navbar li a {
    text-decoration: none;
    color: white; /* Change the link color */
}

.navbar Home {
    margin: 15;
    padding: 15;
}

h1 {
    color: white;
    display: flex;
    justify-content: space-evenly;
}
h2 {
    color: white;
    display: flex;
    justify-content: space-evenly;
}

#Who_we_are {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row; /* Stack children vertically */
    margin-bottom: 50px;
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 15px;
    background: rgba(255, 255, 255, 0.3); /* Semi-transparent background */
    backdrop-filter: blur(10px);
    border-radius: 5px;
}

/* #Who_we_are .content {
    max-width: 600px;
    width: 100%;
    text-align: center;
} */

#Who_we_are h3 {
    color: white;
    margin-bottom: 20px;
    text-align: center;
}

#Who_we_are p {
    color: white;
    padding: 0;
    margin: 0; /* Padding for readability */
    word-wrap: break-word;
    max-width: 600px;
    width: 100%;
    text-align: left;
    margin: 10px;
}

#Who_we_are img {
    float: right;
    border-radius: 5px;
}

#Enlistment_Requirements {
    background-color:#22107d;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Stack children vertically */
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
}

#Enlistment_Requirements .content {
    max-width: 600px;
    width: 100%;
    text-align: center;
}

#Enlistment_Requirements h3 {
    color: white;
    margin-bottom: 20px;
}

#Enlistment_Requirements p {
    color: white;
    padding: 0;
    margin: 0; /* Padding for readability */
    word-wrap: break-word;
    max-width: 600px;
    width: 100%;
    text-align: center;
}

#faqs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Stack children vertically */
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
}

#faqs .content {
    max-width: 600px;
    width: 100%;
    text-align: center;
}

#faqs h3 {
    color: white;
    margin-bottom: 20px;
}

#faqs p {
    color: white;
    padding: 0;
    margin: 0; /* Padding for readability */
    word-wrap: break-word;
    max-width: 600px;
    width: 100%;
    text-align: center;
}
.youtubeVideo-container {
    position: relative;
    width: 90%;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
}

.youtubeVideo-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#discordButton {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: #7289da;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#discordButton:hover{
    transform: translateX(-50%) scale(1.2);
}